{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pur Porringer</title>

    <style>
      .container {
        width: 400px;
        margin-right: auto;
        margin-left: auto;
      }
      .status-bar-on {
        background-color: #0ea114;
        color: #FFFFFF;
        text-align: center;
      }
      .status-bar-off {
        background-color: #000000;
        color: #FFFFFF;
        text-align: center;
      }
      .log {
        list-style-type: none;
      }
    </style>

    <link rel="stylesheet" type="text/css" href={% static "main/css/buttons.css" %} />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  </head>
  <body>
    <div class="container">

      <div id="banner-connection"></div>

      <h1>Click button to dispense food</h1>

      <center>
        <input id="btn-dispense" class="button button-pill button-flat-primary" type="button" value="Dispense" />
      </center>

      <h2>Dispense Log (10 most recent):</h2>
      <ul class="log">
        {% for obj in log %}
          <li>{{ obj }}</li>
        {% endfor %}
      </ul>

    </div>

    <script>
      $(document).ready(function() {
        isConnectedAndSetBanner();

        $("#btn-dispense").click(function() {
          callMotorAndLog();
        });
      });

      function callMotorAndLog() {
        /**
          Call motor script on RPi.
          If successful log the timestamp.
        */

        var loading = isLoading(true);
        $.get({% url "call_motor_and_log" %}, function(logEntry){
          if(logEntry != "None"){
            $(".log").prepend("<li>" + logEntry + "</li>");
          }
        });
        loading = isLoading(false);
      }

      function isLoading(loading) {
        if (loading == true) {
          btnVal = $("#btn-dispense").val();
          if (btnVal == "Dispense") {
            $("#btn-dispense").val("");
          }
          else {
            $("#btn-dispense").val(btnVal + "*");
            console.log("1");
            setTimeout(isLoading, 1000);
          }
        }
        else {
          $("#btn-dispense").val("Dispense");
        }
      }

      function isConnectedAndSetBanner() {
        /**
          Check if RPi is connected and set the connection banner accordinly
          This is a recursive function with a sleep timer.
          if connected, pull server for RPi IP every 60 seconds, if not,
          pull server for RPI IP ever 5 seconds.
        */

        $.get({% url "get_connection_ip" %}, function(ip) {
          if (ip != "None") {
            $("#banner-connection").attr("class", "status-bar-on");
            $("#banner-connection").text("Connected " + ip);
            setTimeout(isConnectedAndSetBanner, 60000);
          }
          else {
            $("#banner-connection").attr("class", "status-bar-off");
            $("#banner-connection").text("Not Connected");
            setTimeout(isConnectedAndSetBanner, 5000);
          }
        });
      }

    </script>

  </body>
</html>
