{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pur Porringer</title>

    <style>
      .container {
        width: 400px;
        margin-right: auto;
        margin-left: auto;
      }
      .status-bar-good {
        background-color: #0ea114;
        color: #FFFFFF;
        text-align: center;
      }
      .status-bar-info {
        background-color: #000000;
        color: #FFFFFF;
        text-align: center;
      }
      .log {
        list-style-type: none;
      }
    </style>

    <link rel="stylesheet" type="text/css" href={% static "main/css/buttons.css" %} />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  </head>
  <body>
    <div class="container">

      <div id="console" class="status-bar-info">Testing connection..</div>

      <h1>Click button to dispense food</h1>

      <center>
        <input id="btn-dispense" class="button button-pill button-flat-primary" type="button" value="Dispense" disabled />
      </center>

      <h2>Dispense Log:</h2>
      <ul class="log">
        {% for obj in log %}
          <li>{{ obj }}</li>
        {% endfor %}
      </ul>

    </div>

    <script>
      $(document).ready(function() {
        isConnectedAndSetBanner();

        $("#btn-dispense").click(function() {
          callMotorAndLog();
        });
      });

      function callMotorAndLog() {
        /**
          Call motor script on RPi.
          If successful log the timestamp.
        */

        $("#btn-dispense").attr("isLoading", true);
        $("#btn-dispense").prop("disabled", true);
        $("#btn-dispense").val("");
        isLoading();

        var request = $.get({% url "call_motor_and_log" %});
        request.done(function(logEntry) {
          $(".log").prepend("<li>" + logEntry + "</li>");
          $("#btn-dispense").attr("isLoading", false);
          $("#btn-dispense").val("Dispense");
          $("#btn-dispense").prop("disabled", false);
        });
        request.fail(function(errorMsg) {
          $("#btn-dispense").attr("isLoading", false);
          $("#btn-dispense").val("Dispense");
          $("#console").text(errorMsg.responseText);
          $("#console").attr("class", "status-bar-info");
          $("#btn-dispense").prop("disabled", true);
        });
      }

      function isLoading() {
        /**
          Loading animation when dispense button is clicked to trigger motor
        */
        loading = $("#btn-dispense").attr("isLoading");
        btnVal = $("#btn-dispense").val();
        if (loading == "true") {
          $("#btn-dispense").val(btnVal + "*");
          setTimeout(isLoading, 500);
        }
      }

      function isConnectedAndSetBanner() {
        /**
          Check if RPi is connected and set the connection banner accordinly
          This is a recursive function with a sleep timer.
          if connected, pull server for RPi IP every 60 seconds, if not,
          pull server for RPi IP every 5 seconds.
        */

        $("#btn-dispense").prop("disabled", true);
	      $("#console").attr("class", "status-bar-info");
        $("#console").text("Testing Connection..");

        $.get({% url "get_connection_ip" %}, function(ip) {
          if (ip != "None") {
            $("#btn-dispense").prop("disabled", false);
            $("#console").attr("class", "status-bar-good");
            $("#console").text("Connected " + ip);
            setTimeout(isConnectedAndSetBanner, 60000);
          }
          else {
            $("#btn-dispense").prop("disabled", true);
            $("#console").attr("class", "status-bar-info");
            $("#console").text("Not Connected");
            setTimeout(isConnectedAndSetBanner, 5000);
          }
        });
      }

    </script>

  </body>
</html>
